<br> <br>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody ng-repeat='item in cart'>
						<tr>
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="{{item.image}}" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin">{{item.name}}</h4>
									</div>
								</div>
							</td>
							<td data-th="Price">{{item.price}}</td>
							<td data-th="Quantity">
								<input type="number" class="form-control text-center item-qty" ng-model="item.qty">
								<input id='item-id' type="hidden" value="{{item.item_id}}">
							</td>
							<td data-th="Subtotal" class="text-center">{{item.qty * item.price}}</td>
							<td class="actions" data-th="">
								<button ng-click="removeFromBasket(item.item_id)" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>						
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr class="visible-xs">
							<td class="text-center"><strong>Total {{total() | currency:"&pound;"}}</strong></td>
						</tr>
						<tr>
							<td><a href="store.php#!shop" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total {{total() | currency:"&pound;"}}</strong></td>
							<input id='total' type="hidden" value="{{total()}}">
							<td><a id='checkout' class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
						</tr>
					</tfoot>
				</table>
</div>

<div class="modal fade" id="message-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Robins Nest Store</h4>
      </div>
      <div class="modal-body">
        <p id="message"></p>
      </div>
      <div class="modal-footer">
        <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">
$( document ).ready(function() {
	$( "#checkout" ).click(function() {
		$.get( "GameProfileColors.php") //gets a list of colors bought by the user
		.done(function( AllColordata ) {

			var boughtColors = JSON.parse(AllColordata);

			if(AllColordata != "Please Login To complete the order") //error message give by the php file is checked before proceeding
			{

				$.post( "GameProfileColors.php", {all:true}) // gets a list of all colors in the database
				.done(function( Colordata ) {

					var allColors = JSON.parse(Colordata);
					var total = $( "#total" ).val(); //gets total from hidden form element
					var cart = JSON.parse(localStorage.getItem('cart'));

					$( ".item-qty" ).each(function( index ) { // quantities are updated with the user inputs on teh checkout screen
						var item_id = $(this).next().val(); // item_id obtian form hidden sibling element
						cart[item_id].qty = $(this).val(); // item_id used as index to get the quantity that needs updating
					});

					var msg = "";  
					$.each(cart, function(Cartitem) { // check the user hasn't already purchased a skin or has more than on of a particular skin
						if(isItemIdInArray(allColors, cart[Cartitem].item_id)) { 
							if(cart[Cartitem].qty > 1) { 
								msg = msg + "You have more than one " + cart[Cartitem].name + " in you cart <br>";

							}
							if(isItemIdInArray(boughtColors, cart[Cartitem].item_id)) {
								msg = msg + "You've already bought " + cart[Cartitem].name + " please remove from your basket to continue <br>";
							}
						}
					});
					if (msg != ""){

						showModal(msg)

					}
					else {

						$.post( "orders.php", { total: total, order:cart})
						.done(function( data ) {
							showModal(data);
							localStorage.clear();
						});

					}

				});
			} else {
				showModal(AllColordata);
			}
		});

	});

  $( "#close" ).click(function() {
   		location.reload();
  });
  //takes in text and shows the modal with the text passed in
  function showModal(text){
  		$('#message').html(text);
	    $('#message-modal').modal('show');
  }
  // helper function to find if an item_id is in an array of objects
  function isItemIdInArray(array, item){
  	for(var i = 0; i < array.length; i++) {
  		if(array[i].item_id == item) {
  			return true;
  		}
  	}
  	return false;
  }
});
</script>
