* {
	box-sizing: border-box;
	margin: 0;
}

#game-container {
	height: 600px;
}

#high-scores img {
	width: 100%;
	table-layout: fixed;
}

#high-scores img {
	width: 50px;
}

#score {
	text-align: center;
}

.high-scores-country {
	width: 10%;
}

.high-scores-name {
	width: 40%;
}

.high-scores-score {
	width: 25%;
}

.high-scores-date {
	width: 25%;
}