* {
	box-sizing: border-box;
	margin: 0;
}

#game-container {
	height: 600px;
}

#high-scores img {
	width: 50px;
	table-layout: fixed;
}

th {
	text-align: left;
}

#high-scores-container {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

#high-scores {
	margin-top: 20px;
}

#high-scores tr {
	margin-bottom: 5px;
}

#score {
	text-align: center;
	margin-bottom: 20px;
}

.high-scores-country {
	width: 10%;
	padding-left: 2px;
	padding-right: 2px;
}

.high-scores-name {
	width: 30%;
	padding-left: 2px;
	padding-right: 2px;
}

.high-scores-score {
	width: 25%;
	padding-left: 2px;
	padding-right: 2px;
}

.high-scores-date {
	width: 35%;
	padding-left: 2px;
	padding-right: 2px;
}